body{
    height: 100vh;
    background: url('images/gradient1.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }
  
  .card{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 white;
  }
  
  .img-left{
    width: 45%;
    background: url('images/admin3.jpeg') center;
    background-size: cover;
  }
  
  .card-body{
    padding: 2rem;
    color: black;
    background-color: white;
  }
  
  .title{
    margin-bottom: 2rem;
  }
  
  .form-input{
    position: relative;
    
  }
  
  .form-input input{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 50px;
    outline: none;
    background: transparent;
    background-color: white;
  }
  
  .form-input span{
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: black;
  }
  
  .form-input input::placeholder{
    color: black;
    padding-left: 0px;
  }
  
  .form-input input:focus, .form-input input:valid{
    border: 3px solid black;
  }
  
  .form-input input:focus::placeholder{
    color: white;
  }
  
  .form-box button{
    margin-top: 10px;
    border: solid 2px black;
    cursor: pointer;
    border-radius: 50px;
    background: white;
    color: red;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
  }

  .form-box a{
    margin-top: 10px;
    border: solid 2px black;
    cursor: pointer;
    border-radius: 50px;
    background: white;
    color: red;
    font-size: 90%;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    padding: 12px;
  }
  
  .form-box button:hover{
    background-color: black;
    color: red;
  }

  .form-box a:hover{
    background: black;
    color: red;
  }
  

  
  
  